.heebo-font {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heebo-font-fat {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

ul, li
{
  display: block;
  padding: 0;
  margin: 0;
}

.header
{
  background-image: url(10.webp);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 10px;
}

.menu
{
  margin-top: 8px;
}

.menu__item
{
  margin: 0 57px;
}

.menu__item a
{
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

.a 
{
  text-decoration: none;
}

.interesting {
  background: linear-gradient(45deg, yellow, violet);
}

.emoji {
  font-size: 35px;
}

.title {
  padding-top: 5%;
  padding-bottom: 5% ;
}

.title_main {
  font-size: 32px;
  text-align: center;
}

.title_text {
  font-size: 20px;
    text-align: center;
}