.row {
  margin-top: 5%;
}

/*  Шрифты*/
.heebo-font {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heebo-font-fat {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.first-look {
  margin-top: 5%;
  background-color: gray;
  border-radius: 10px;
}

/* navbar*/
nav {
  background-color: white;
}

ul, li
{
  display: block;
  padding: 0;
  margin: 0;
}

.menu
{
  margin-top: 8px;
}

.menu__item
{
  margin: 0 57px;
}

.menu__item a
{
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

  /* Градиенты*/
#gradient-1 {
  background: linear-gradient(to right, violet, white);
}

#gradient-2 {
  background: linear-gradient(to left, orange, white);
/*  margin-left: 10%;*/
  width: 25%;
}

/* feedback поле*/
.title {
  padding-top: 5%;
  padding-bottom: 5% ;
}

.title_main {
  font-size: 32px;
  text-align: center;
}

.title_text {
  font-size: 20px;
  text-align: center;
}

#email-scam {
  width: 50%;
}

/* ПОДВАЛ*/
.footer-info {
  text-align: right;
  margin-top: 5%;
}