.row {
  margin-top: 5%;
}

a {
    text-decoration: none;
    color: white;
}

/*  Шрифты*/
.heebo-font {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heebo-font-fat {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.first-look {
  margin-top: 5%;
  margin-left: 0%;
  background-color: gray;
  border-radius: 10px;
  width: 99%;
}

.show-up-text {
  margin-left: 20%;
}

#forum {
  background-color: dimgray;
  border-radius: 10px;
}

.wiki-cards {
  border-color: black;
  border-width: 1%;
  border-radius: 5px;
  margin: 2%;
}

#interesting {
  background-color: #FFFFF0;
  padding-top: 2%;
  padding-bottom: 5%;
  text-align: center;
}

/* navbar*/
nav {
  background-color: white;
}

ul, li
{
  display: block;
  padding: 0;
  margin: 0;
}

.menu
{
  margin-top: 8px;
}

.menu__item
{
  margin: 0 57px;
}

.menu__item a
{
  font-size: 22px;
  font-weight: 700;
  color: #000;
}

  /* Градиенты*/
#gradient-1 {
  background: linear-gradient(to right, violet, white);
}

#gradient-2 {
  background: linear-gradient(to left, orange, white);
  height: 90%;
  width: 100%;
}

/* feedback поле*/
.title {
  padding-top: 5%;
  padding-bottom: 5% ;
}

.title_main {
  font-size: 32px;
  text-align: center;
}

.title_text {
  font-size: 20px;
  text-align: center;
}

#email-scam {
  width: 50%;
}

/* ПОДВАЛ */
.footer-info {
  text-align: right;
  margin-top: 5%;
}