{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JATM - Личный Кабинет</title>
    
        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="{% static "Libraries/bootstrap.min.css" %}">
        
        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="{% static "css/Common.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/Navbar.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/Common.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/Footer.css" %}">
        
        <!-- Favicon -->
        <link rel="icon" href="{% static 'img/SiteIcon.png' %}">       
    </head>
<header>
    <nav class="navbar fixed-top">
		<ul class="menu d-flex justify-content-center">
			<li class="menu__item">
				<a href="{% url 'index' %}">
					JATM Вики
				</a>
			</li>

			{% if not username %}
				<li class="menu__item">
					<a href="{% url 'account' %}">
						Логин
					</a>
				</li>
		
				<li class="menu__item">
					<a href="{% url 'reg' %}">
						Создать аккаунт
					</a>
				</li>

			{% else %}
				<div class="dropdown">
					<button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						{{ username }}
					</button>

					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{% url 'personalAccount' %}">Личный кабинет</a>
						</li>

						<li>
							<a><hr class="dropdown-divider"></a>
						</li>
						
						<li>
							<a id="logout" class="dropdown-item" href="#">Выйти</a>
						</li>
					</ul>
				</div>
			{% endif %}
	
			<li class="menu__item">
				<input type="text" placeholder="Поиск">
			</li>
		</ul>
	</nav>
</header>
<body>
    <div class="container">
        <h1>Личный кабинет</h1>

        <div class="mt-4">
            <p>Логин: {{ username }}</p>
            
            {% if name %}
                <p>Имя: {{ name }}</p>
            {% else %}
                <p>Имя: не записано</p>
            {% endif %}

            {% if last_name %}
                <p>Фамилия: {{ last_name }}</p>
            {% else %}
                <p>Фамилия: не записано</p>
            {% endif %}

            {% if email %}
                <p>Почта: {{ email }}</p>
            {% else %}
                <p>Почта: не записано</p>
            {% endif %}
        </div>
    </div>

    <script src="{% static 'libs/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'libs/jquery.min.js' %}"></script>

    <script type="text/javascript" src="{% static "js/Common.js" %}"></script>
    <script type="text/javascript" src="{% static "js/send.js" %}"></script>
    <script type="text/javascript" src="{% static "js/logout.js" %}"></script>
</body>
</html>