{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JATM - Аккаунт</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'Libraries/bootstrap.min.css' %}">

	<!-- Styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Auth.css' %}">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'img/SiteIcon.png' %}">

</head>
<header>
	<nav class="navbar fixed-top">
		<ul class="menu d-flex justify-content-center">
			<li class="menu__item">
				<a href="{% url 'index' %}">
					JATM Вики
				</a>
			</li>

			{% if not name %}
				<li class="menu__item">
					<a href="{% url 'account' %}">
						Логин
					</a>
				</li>
		
				<li class="menu__item">
					<a href="{% url 'reg' %}">
						Создать аккаунт
					</a>
				</li>

			{% else %}
				<div class="dropdown">
					<button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						{{ name }}
					</button>

					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{% url 'personalAccount' %}">Личный кабинет</a>
						</li>

						<li>
							<a><hr class="dropdown-divider"></a>
						</li>
						
						<li>
							<a id="logout" class="dropdown-item" href="#">Выйти</a>
						</li>
					</ul>
				</div>
			{% endif %}
	
			<li class="menu__item">
				<input type="text" placeholder="Поиск">
			</li>
		</ul>
	</nav>
</header>
<body>
	<div class="container">
		<div class="row">
			<div class="form-control auth-box">
				{% csrf_token %}
				<label class="form-label heebo-font-fat" for="auth-form">Войти в аккаунт</label>
				<input placeholder="Логин" type="text" name="username" id="username" class="auth-form form-control w-75">
				<input placeholder="Пароль" type="password" name="password" id="password" class="auth-form form-control w-75">
				<a href="{% url 'reg' %}"><button class="btn btn-primary">Впервые на сайте?</button></a> <button id="login-button" class="btn btn-secondary" style="margin-left: 30%;">Войти</button>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'Libraries/bootstrap.bundle.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'Libraries/jquery.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'js/Common.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/send.js' %}"></script>
	<script type="text/javascript" src="{% static "js/logout.js" %}"></script>
</body>
</html>