{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'Libraries/bootstrap.min.css' %}">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/WikiPages.css' %}">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'img/SiteIcon.png' %}">
	
	<title>JATM Вики - Цветущий Кримтан</title>
</head>
<header>
	<nav class="navbar fixed-top">
		<ul class="menu d-flex justify-content-center">
			<li class="menu__item">
				<a href="{% url 'index' %}">
					JATM Вики
				</a>
			</li>

			{% if not name %}
				<li class="menu__item">
					<a href="{% url 'account' %}">
						Логин
					</a>
				</li>
		
				<li class="menu__item">
					<a href="{% url 'reg' %}">
						Создать аккаунт
					</a>
				</li>

			{% else %}
				<div class="dropdown">
					<button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						{{ name }}
					</button>

					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{% url 'personalAccount' %}">Личный кабинет</a>
						</li>

						<li>
							<a><hr class="dropdown-divider"></a>
						</li>
						
						<li>
							<a id="logout" class="dropdown-item" href="#">Выйти</a>
						</li>
					</ul>
				</div>
			{% endif %}
		</ul>
	</nav>
</header>
<body class="heebo-font">
	<div class="container" id="wiki-pages" style="padding: 2%;">
		<div class="row">
			<div class="col-sm-4 card bg-dark" style="width: 20%; margin: 2%;">
				<img class="card-img-top" src="{% static 'img/BloomingCrimtane.png' %}" alt="Blooming Crimtane" width="100%" height="100%">
				<div class="card-body">
					
				</div>
			</div>

			<div class="col-sm-6">
				<p class="wiki-text">
					Цветущий Кримтан (англ. Blooming Crimtane) - это оружие из раннего этапа игры, наносящее 45 единиц урона.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8" style="margin-left: 10%;">
				<h3>Создание</h3>
				<div class="cards bg-dark text-white">
					<div class="card-body">
						<b style="margin-left: 5%;">
							<img src="{% static 'img/Crimtane_Bar.png' %}"> 
							<a href="https://terraria.fandom.com/wiki/Crimtane_Bar">
								Кримтановый Слиток
							</a>
						</b> 
						x 10
						<br>
						<b style="margin-left: 5%;">
							<img src="{% static 'img/CoolStar.png' %}"> 
							<a href="../CoolStar">
								Прикольная звезда
							</a>
						</b> 
						х 15
						<b style="margin-left: 15%;"> 
							<img src="{% static 'img/Iron_Anvil.png' %}"> 
							<a href="https://terraria.fandom.com/wiki/Pre-Hardmode_Anvils">
								Наковальня
							</a>
						</b>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'Libraries/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'Libraries/jquery.js' %}"></script>
	
    <script type="text/javascript" src="{% static 'js/Common.js' %}"></script>
	<script type="text/javascript" src="{% static "js/logout.js" %}"></script>
</body>
</html>