{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap" rel="stylesheet">

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'Libraries/bootstrap.min.css' %}">

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Feedback.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/MainPage.css' %}">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'img/SiteIcon.png' %}">

	<title>Just Another Terraria Mod Вики</title>
</head>
<header>

	<nav class="navbar fixed-top">
		<ul class="menu d-flex justify-content-center">
			<li class="menu__item">
				<a href="../../">
					JATM Вики
				</a>
			</li>

			{% if not name %}
				<li class="menu__item">
					<a href="../../account">
						Логин
					</a>
				</li>
		
				<li class="menu__item">
					<a href="../../registration">
						Создать аккаунт
					</a>
				</li>
			{% endif %}
	
			<li class="menu__item">
				<input type="text" placeholder="Поиск">
			</li>
		</ul>
	</nav>

	<div class="col-sm">
		<div class="row first-look">
			<img alt="Terraria logo" src="{% static 'img/terraria-3.jpg' %}" style="margin-top: 1%; width: 100%; height: 100%; margin-left: 0%;">
			<div class="col-sm-8 mt-3 show-up-text overlay">
				<h1 style="margin-left: 20%;">Just Another Terraria Mod</h1>
				Добро пожаловать на официальную
				<b class="heebo-font-fat"> Вики Just Another Terraria Mod</b>,
				 написанную и поддерживаемую
				<b class="heebo-font-fat">мною</b>
			</div>
		</div>
	</div>
</header>
<body class="heebo-font">
	
	<div class="row">
    	<div class="col-sm-4" id="gradient-1"></div>
    	<img alt="bunnies" class="mr-3" src="{% static 'img/bunnies.png' %}" style="width: 30%; height: 40%;">
    	<div class="col-sm" style="margin: 5%;">
    		<h3>
    			"Огромный" мод
    		</h3>
    		<p>
    			Мод с поражающе маленьким количеством контента и
    			невероятным бесталантством.
    		</p>
    	</div>
    </div>

    <div class="row">
    	 <div class="col-sm-4" align="center" style="margin-top: 5%;"> 
    		<h3>
    			'ПроРАБотанный' мод
    		</h3>
    		<p>
				Огромная непроработанность проекта
			</p>
    	 </div>
	 	<div class="col-sm-4">
	 		<img alt="magicweapon" src="{% static 'img/magicweapon.png' %}" style="width: 90%; height: 90%;">
	 	</div>
	 	<div class="col-sm-4">
	 		<p id="gradient-2"></p>
	 	</div>
	</div>

	<div class="container" id="forum">
		<div class="row">
			<div class="col-lg-12">
				<p class="heebo-font-fat mt-1" align="center">Количество статей: 4</p>
			</div>
		</div>

		<div class="row" align="center" style="margin-left: 8%;">
			<div class="col-sm-4 wiki-cards text-white card bg-dark" style="width: 12rem;">
				<div class="card-header">                      </div>
				<img alt="CoolStar" class="card-img-top" src="{% static 'img/CoolStar.png' %}" alt="Star">
				<div class="card-body">
					<a href="wiki-pages/CoolStar" class="card-text" align="center">Прикольная Звезда</a>
				</div>
			</div>

			<div class="col-sm-4 wiki-cards text-white card bg-dark" style="width: 12rem;">
				<div class="card-header">                      </div>
				<img alt="AshSlicer" class="card-img-top" src="{% static 'img/AshSlicer.png' %}" alt="AshSlicer">
				<div class="card-body">
					<a href="wiki-pages/AshSlicer" class="card-text" align="center">Пепельный Рассекатель</a>
				</div>
			</div>

			<div class="col-sm-4 wiki-cards text-white card bg-dark" style="width: 12rem;">
				<div class="card-header">                      </div>
				<img alt="BloomingCrimtane" class="card-img-top" src="{% static 'img/BloomingCrimtane.png' %}" alt="BloomingCrimtane">
				<div class="card-body">
					<a href="wiki-pages/BloomingCrimtane" class="card-text" align="center">Цветущий Кримтан</a>
				</div>
			</div>

			<div class="col-sm-4 wiki-cards text-white card bg-dark" style="width: 12rem;">
				<div class="card-header">                      </div>
				<img alt="Absorber" class="card-img-top" src="{% static 'img/Absorber.png' %}" alt="BloomingCrimtane">
				<div class="card-body">
					<a href="wiki-pages/Absorber" class="card-text" align="center">Поглотитель</a>
				</div>
			</div>
		</div>
    </div>

	<!-- Bootstrap -->
	<script type="text/javascript" src="{% static 'Libraries/bootstrap.bundle.min.js' %}"></script>

    <!-- JQuery -->
	<script type="text/javascript" src="{% static 'Libraries/jquery.js' %}"></script>

	<!-- Scripts -->
	<script type="text/javascript" src="{% static 'js/Common.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/send.js' %}"></script>
</body>
</html>