{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JATM - Аккаунт</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="{% static 'Libraries/bootstrap.min.css' %}">

	<!-- Styles-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/Common.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Footer.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Navbar.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/Auth.css' %}">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'img/SiteIcon.png' %}">

</head>
<header>
	<nav class="navbar fixed-top">
		<ul class="menu d-flex justify-content-center">
			<li class="menu__item">
				<a href="../../">
					JATM Вики
				</a>
			</li>

			<li class="menu__item">
				<a href="../../account">
					Логин
				</a>
			</li>
	
			<li class="menu__item">
				<a href="../../registration">
					Создать аккаунт
				</a>
			</li>
	
			<li class="menu__item">
				<input type="text" placeholder="Поиск">
			</li>
		</ul>
	</nav>
</header>
<body class="">
<div class="container">
	<div class="row">
		<div class="form-control auth-box">
			<label class="form-label heebo-font-fat" for="reg-form">Создать аккаунт</label>
			<div id="reg-form">
				{% csrf_token %}
				<input placeholder="Имя пользователя" type="text" name="username" id="username" class="auth-form form-control w-75">
				<input placeholder="Пароль" type="password" name="password" id="password" class="auth-form form-control w-75">
				<input placeholder="Имя" type="text" name="name" id="name" class="auth-form form-control w-75">
				<input placeholder="Фамилия" type="text" name="last_name" id="last-name" class="auth-form form-control w-75">
				<input placeholder="Почта" type="email" name="email" id="email" class="auth-form form-control w-75">
				
				<button id="create-account-button" class="btn btn-primary">Создать аккаунт</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="{% static 'Libraries/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Common.js' %}"></script>
<script type="text/javascript" src="{% static 'js/send.js' %}"></script>
</body>
</html>